@{
    ViewData["Title"] = "Home Page";
}

<style>
    #grad {
        background-image: linear-gradient(#8CD0E3, #F08DCE);
    }
</style>

<div class="text-center" id="grad" style="width: 2900px; margin-left: -50px; ">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
